

footer {
  margin: 0 4%;
    
  @include bp(x-small) {
    margin: 0 8% 0 4%;
  }
      
  @include bp(small) {
    margin: 0 vr(16) 0 vr(8);
  }

  @include bp(medium) {
    margin: 0;
  }

  @include bp(large) {
    margin: 0;
  }

}