$black: #222;
$white: #fff;

$red: #F06449;
$green: #49D49D;
$blue: #4281A4;
$orange: #E4B363;
$purple: #9E768F; 

$grey90: lighten($black, 10%);
$grey80: lighten($black, 20%);
$grey70: lighten($black, 30%);
$grey60: lighten($black, 40%);
$grey50: lighten($black, 50%);
$grey40: lighten($black, 60%);
$grey30: lighten($black, 70%);
$grey20: lighten($black, 80%);
$grey10: lighten($black, 90%);


$color-facebook: #3b5998;
$color-twitter: #00aced;
$color-google: #dd4b39;
$color-pinterest: #cb2027;