/**

  @links
--------------------------------------------------------
  elements/_links.scss
--------------------------------------------------------

  Links, <a> etc. & Webkit tap highlight

  Example: link
  <p>Lorem Ipsum is simply <a href="#">dummy text</a> of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

-------------------------------------------------------- */




/* @anchors
--------------------------------------------------------

  Anchors will have this base styling

------------------------------------------------------ */

a {
  text-decoration: none;
  &:visited {
    opacity: .5;
  }
  &:hover {
    text-decoration: underline;
    text-shadow: 0 1px 1px $grey20;
  }
  &:focus {
    padding-top: 2px;
    opacity: .75;
  }
  &:active {
    opacity: .9;
  }
}

.body--links a {
  color: $color-links;
}
.body--articles a {
  color: $color-articles;
}




/* @webkit-tap-highlight
--------------------------------------------------------

  Declare the webkit tap highlight style

------------------------------------------------------ */

body {
  -webkit-tap-highlight-color: rba(0, 0, 0, .35);
}