/* --------------------------------------------------------

LISTS

===========================================================
03_atoms/_lists.scss
-----------------------------------------------------------

Basic styles to list elements

-------------------------------------------------------- */


ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: vr(4);
  margin-left: vr(4);
  padding-top: 0;
  padding-bottom: 0;
}

ul ul,
ol ol,
dl dl {
  margin-left: 0;
}

ul {
  list-style: disc;
  
  &.ul--reset {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

ol {
  list-style: decimal;
  
  &.ol--reset {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}