/* --------------------------------------------------------

QUOTES

===========================================================
03_atoms/_quotes.scss
-----------------------------------------------------------

Basic styles to blockquotes and pullquotes

-------------------------------------------------------- */

blockquote {
  margin-top: vr(4);
  margin-bottom: vr(4);
  margin-left: 0;
  padding-top: vr(4);
  padding-bottom: vr(4);
  padding-left: 0;
  border-left: vr(1) solid $grey60;
  font-family: $font-sans;
  background-color: $grey20;
  
  @include bp(medium) {
    margin-left: -#{vr(5)};
    padding-left: vr(4);
  }

  p { 
    margin-bottom: vr(4);
  }
  
  cite {
    &:before {
      content: " – ";
    }
  }

}