/* --------------------------------------------------------

QUOTES

===========================================================
03_atoms/_quotes.scss
-----------------------------------------------------------

Basic styles to blockquotes and pullquotes

-------------------------------------------------------- */

blockquote {
  margin-top: vr(4);
  margin-bottom: vr(4);
  margin-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: vr(4);
  border-left: $base-vertical-unit solid lighten(#000, 50%);
  font-family: "";

  p {
    margin-bottom: vr(2);
  }

  footer {
    cite {
      &:before {
        content: " – ";
      }
    }
  }
}