/* ----------------------------------------------------------------------------

TEXT

===============================================================================
03_atoms/_text.scss
-------------------------------------------------------------------------------

Basic styles to block text elments (i.e. <p>) and inline text elements (such as
<strong>). Also, special elements specific to the design.

---------------------------------------------------------------------------- */


/* @ block elements @ ---------------------------------------------------------
---------------------------------------------------------------------------- */

p {
  margin-bottom: vr(4);
  
  &:last-child {
    margin-bottom: 0;
  }
}


/* @ inline elements @ --------------------------------------------------------
---------------------------------------------------------------------------- */
 
strong {
  // NOTE: use bold font-face if available instead of 'font-weight: bold'
  font-weight: bold;
}

em {
  // NOTE: use italic font-face if available instead of 'font-style: italic'
  font-style: italic;
}

small,
.small {
  @include set-type($ms-down1, 3);
}

time,
.time {
  text-transform: uppercase;
}

abbr {
  font-variant: small-caps; 
  font-weight: 600;
  text-transform: lowercase;
  
  &[title]:hover {
    // Cursor changed to a question mark when it has a title
    cursor: help;
  }
}


/* @ special elements @ -------------------------------------------------------
---------------------------------------------------------------------------- */

.article {
  &-link {
    font-weight: 900;
  }
  &-type {
    font-weight: 900;
    @include set-type($ms-down2, 3);
    text-transform: uppercase;
    border: 1px solid $grey40;
    padding: 2px;
    vertical-align: middle;
  }
  &-date {
    @include set-type($ms-down1, 3);
    text-transform: uppercase;
  }
}